nav{
    position: absolute;
    bottom: 10px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 30px;
    gap: 25px;
    background-color: white;
}

nav > div > button{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    cursor: pointer;
}